.glitch{
  position:relative;
  width: 100%;
  height: 75vh;
  background: url(../images/backgrounds/lowpolyredroseBG.png);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.glitch > img{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.glitch >img:nth-child(1){
  animation: glitch 10s infinite linear;
}

.glitch >img:nth-child(2){
  -webkit-clip-path: polygon(0 0, 0 59%, 100% 59%, 100% 0);
  clip-path: polygon(0 0, 0 59%, 100% 59%, 100% 0);
  opacity: 0;
  /* left: 10px; */
  animation: insta-glitch 10s infinite linear;
}

.glitch >img:nth-child(3){
  -webkit-clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%);
  clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%);
  opacity:0;
  left: -13px;
  animation: insta-glitch2 15s infinite linear alternate-reverse;
}

@keyframes glitch {
  0%{
    opacity: 1;
  }
  10%{
    opacity: 1;
  }
  11%{
    opacity: 0;
  }
  12%{
    opacity: 1;
  }
  60.75%{
    opacity: 1;
    transform:translateX(0px);
  }
  61%{
    opacity: 0;
    transform:translateX(10px);
  }
  61.25%{
    opacity: 1;
  }
  62%{
    opacity: 0;
    transform:translateX(0px);
  }
  64%{
    opacity:1
  }
  100%{
    opacity: 1;
  }
}

@keyframes insta-glitch {
  0%{
    opacity: 0;
  }
  10%{
    opacity:0;
  }
  11%{
    opacity: .5;
  }
  12%{
    opacity: 0;
  }
  13%{
    opacity: .5;
  }
  14%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes insta-glitch2 {
  0%{
    opacity: 0;
  }
  10%{
    -webkit-clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%);
    clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%);
    opacity:0;
  }
  11%{
    opacity: .5;
  }
  12%{
    -webkit-clip-path: polygon(0 71%, 0 49%, 100% 49%, 100% 71%);
    clip-path: polygon(0 71%, 0 49%, 100% 49%, 100% 71%);
    opacity: 0;
  }
  13%{
    opacity: .5;
  }
  14%{
    -webkit-clip-path: polygon(0 30%, 0 49%, 100% 49%, 100% 30%);
    clip-path: polygon(0 30%, 0 49%, 100% 49%, 100% 30%);
    opacity: 0;
  }
  15%{
    opacity: .5;
  }
  16%{
    -webkit-clip-path: polygon(0 30%, 0 14%, 100% 14%, 100% 30%);
    clip-path: polygon(0 30%, 0 14%, 100% 14%, 100% 30%);
    opacity: 0;
  }
  17%{
    opacity: .5;
  }
  18%{
    -webkit-clip-path: polygon(0 0, 0 14%, 100% 14%, 100% 0);
    clip-path: polygon(0 0, 0 14%, 100% 14%, 100% 0);
    opacity: 0;
  }
  19%{
    opacity: .5;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.intro::before,
.intro::after,
.job::before,
.job::after{
  content:attr(data-text);
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro::before,
.job::before{
  left: -1px;
  text-shadow: 0 -1px #FFF8E7;


  animation: text-glitch 2s infinite linear alternate-reverse;
}

.intro::after,
.job::after{
  left:-5px;
  text-shadow: -1px 0 #FFECE7;


  animation: text-glitch2 1.5s infinite linear alternate-reverse;
}


@keyframes text-glitch{
  0% {
		transform: skewX(-5 deg);
		-webkit-clip-path: polygon(0% 12%, 100% 12%, 100% 61%, 0% 61%);
		clip-path: polygon(0% 12%, 100% 12%, 100% 61%, 0% 61%);
	}

	6.66667% {
		transform: skewX(-1 deg);
		-webkit-clip-path: polygon(0% 56%, 100% 56%, 100% 96%, 0% 96%);
		clip-path: polygon(0% 56%, 100% 56%, 100% 96%, 0% 96%);
	}

	13.33333% {
		transform: skewX(-7 deg);
		-webkit-clip-path: polygon(0% 42%, 100% 42%, 100% 56%, 0% 56%);
		clip-path: polygon(0% 42%, 100% 42%, 100% 56%, 0% 56%);
	}

	20% {
		transform: skewX(-7 deg);
		-webkit-clip-path: polygon(0% 93%, 100% 93%, 100% 69%, 0% 69%);
		clip-path: polygon(0% 93%, 100% 93%, 100% 69%, 0% 69%);
	}

	26.66667% {
		transform: skewX(-13 deg);
		-webkit-clip-path: polygon(0% 98%, 100% 98%, 100% 98%, 0% 98%);
		clip-path: polygon(0% 98%, 100% 98%, 100% 98%, 0% 98%);
	}

	33.33333% {
		transform: skewX(-10 deg);
		-webkit-clip-path: polygon(0% 48%, 100% 48%, 100% 62%, 0% 62%);
		clip-path: polygon(0% 48%, 100% 48%, 100% 62%, 0% 62%);
	}

	40% {
		transform: skewX(-11 deg);
		-webkit-clip-path: polygon(0% 34%, 100% 34%, 100% 90%, 0% 90%);
		clip-path: polygon(0% 34%, 100% 34%, 100% 90%, 0% 90%);
	}

	46.66667% {
		transform: skewX(-18 deg);
		-webkit-clip-path: polygon(0% 96%, 100% 96%, 100% 81%, 0% 81%);
		clip-path: polygon(0% 96%, 100% 96%, 100% 81%, 0% 81%);
	}

	53.33333% {
		transform: skewX(-15 deg);
		-webkit-clip-path: polygon(0% 33%, 100% 33%, 100% 21%, 0% 21%);
		clip-path: polygon(0% 33%, 100% 33%, 100% 21%, 0% 21%);
	}

	60% {
		transform: skewX(-17 deg);
		-webkit-clip-path: polygon(0% 52%, 100% 52%, 100% 92%, 0% 92%);
		clip-path: polygon(0% 52%, 100% 52%, 100% 92%, 0% 92%);
	}

	66.66667% {
		transform: skewX(0 deg);
		-webkit-clip-path: polygon(0% 82%, 100% 82%, 100% 6%, 0% 6%);
		clip-path: polygon(0% 82%, 100% 82%, 100% 6%, 0% 6%);
	}

	73.33333% {
		transform: skewX(-5 deg);
		-webkit-clip-path: polygon(0% 56%, 100% 56%, 100% 97%, 0% 97%);
		clip-path: polygon(0% 56%, 100% 56%, 100% 97%, 0% 97%);
	}

	80% {
		transform: skewX(-19 deg);
		-webkit-clip-path: polygon(0% 24%, 100% 24%, 100% 7%, 0% 7%);
		clip-path: polygon(0% 24%, 100% 24%, 100% 7%, 0% 7%);
	}

	86.66667% {
		transform: skewX(-14 deg);
		-webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 57%, 0% 57%);
		clip-path: polygon(0% 50%, 100% 50%, 100% 57%, 0% 57%);
	}

	93.33333% {
		transform: skewX(-16 deg);
		-webkit-clip-path: polygon(0% 32%, 100% 32%, 100% 6%, 0% 6%);
		clip-path: polygon(0% 32%, 100% 32%, 100% 6%, 0% 6%);
	}

	100% {
		transform: skewX(-6 deg);
		-webkit-clip-path: polygon(0% 5%, 100% 5%, 100% 4%, 0% 4%);
		clip-path: polygon(0% 5%, 100% 5%, 100% 4%, 0% 4%);
	}
}

@keyframes text-glitch2{
  0% {
		transform: skewX(11 deg);
		-webkit-clip-path: polygon(0% 58%, 100% 58%, 100% 44%, 0% 44%);
		clip-path: polygon(0% 58%, 100% 58%, 100% 44%, 0% 44%);
	}

	6.66667% {
		transform: skewX(12 deg);
		-webkit-clip-path: polygon(0% 17%, 100% 17%, 100% 23%, 0% 23%);
		clip-path: polygon(0% 17%, 100% 17%, 100% 23%, 0% 23%);
	}

	13.33333% {
		transform: skewX(9 deg);
		-webkit-clip-path: polygon(0% 92%, 100% 92%, 100% 96%, 0% 96%);
		clip-path: polygon(0% 92%, 100% 92%, 100% 96%, 0% 96%);
	}

	20% {
		transform: skewX(1 deg);
		-webkit-clip-path: polygon(0% 78%, 100% 78%, 100% 48%, 0% 48%);
		clip-path: polygon(0% 78%, 100% 78%, 100% 48%, 0% 48%);
	}

	26.66667% {
		transform: skewX(10 deg);
		-webkit-clip-path: polygon(0% 74%, 100% 74%, 100% 20%, 0% 20%);
		clip-path: polygon(0% 74%, 100% 74%, 100% 20%, 0% 20%);
	}

	33.33333% {
		transform: skewX(16 deg);
		-webkit-clip-path: polygon(0% 51%, 100% 51%, 100% 67%, 0% 67%);
		clip-path: polygon(0% 51%, 100% 51%, 100% 67%, 0% 67%);
	}

	40% {
		transform: skewX(9 deg);
		-webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 71%, 0% 71%);
		clip-path: polygon(0% 10%, 100% 10%, 100% 71%, 0% 71%);
	}

	46.66667% {
		transform: skewX(19 deg);
		-webkit-clip-path: polygon(0% 70%, 100% 70%, 100% 20%, 0% 20%);
		clip-path: polygon(0% 70%, 100% 70%, 100% 20%, 0% 20%);
	}

	53.33333% {
		transform: skewX(15 deg);
		-webkit-clip-path: polygon(0% 8%, 100% 8%, 100% 95%, 0% 95%);
		clip-path: polygon(0% 8%, 100% 8%, 100% 95%, 0% 95%);
	}

	60% {
		transform: skewX(20 deg);
		-webkit-clip-path: polygon(0% 87%, 100% 87%, 100% 17%, 0% 17%);
		clip-path: polygon(0% 87%, 100% 87%, 100% 17%, 0% 17%);
	}

	66.66667% {
		transform: skewX(16 deg);
		-webkit-clip-path: polygon(0% 69%, 100% 69%, 100% 72%, 0% 72%);
		clip-path: polygon(0% 69%, 100% 69%, 100% 72%, 0% 72%);
	}

	73.33333% {
		transform: skewX(2 deg);
		-webkit-clip-path: polygon(0% 5%, 100% 5%, 100% 53%, 0% 53%);
		clip-path: polygon(0% 5%, 100% 5%, 100% 53%, 0% 53%);
	}

	80% {
		transform: skewX(18 deg);
		-webkit-clip-path: polygon(0% 29%, 100% 29%, 100% 94%, 0% 94%);
		clip-path: polygon(0% 29%, 100% 29%, 100% 94%, 0% 94%);
	}

	86.66667% {
		transform: skewX(17 deg);
		-webkit-clip-path: polygon(0% 28%, 100% 28%, 100% 84%, 0% 84%);
		clip-path: polygon(0% 28%, 100% 28%, 100% 84%, 0% 84%);
	}

	93.33333% {
		transform: skewX(17 deg);
		-webkit-clip-path: polygon(0% 67%, 100% 67%, 100% 78%, 0% 78%);
		clip-path: polygon(0% 67%, 100% 67%, 100% 78%, 0% 78%);
	}

	100% {
		transform: skewX(20 deg);
		-webkit-clip-path: polygon(0% 41%, 100% 41%, 100% 50%, 0% 50%);
		clip-path: polygon(0% 41%, 100% 41%, 100% 50%, 0% 50%);
	}
}
