body{
  margin:0;
  padding:0;
  font-size:17px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: linear-gradient(to bottom right, rgba(185, 152, 152, 0.3) 0%, rgba(187, 80, 226, 0.89) 100%) no-repeat fixed center;
}

.rose{
  grid-area: rose;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'banner banner'
  'banner banner'
  'coll coll'
  'nav nav'
  'about about';
}

.banner{
  grid-area: banner;
  height:100vh;
  background-color: rgba(63, 210, 243, 1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'intro intro'
  'rose rose'
  'job job';
  padding-top: 20px;
  padding-bottom: 20px;
}

.collapsibles{
  grid-area: coll;
  grid-template-columns: 1fr;
  grid-template-areas:
  'coll-cont';
  text-align: center;
  font: 30px bold;

}

.collapse{
  background-color: rgb(194, 21, 41);
  color: rgb(21, 194, 174);
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  transition: all .5s linear;
}

.active, .collapse:hover {
  background-color: rgb(255, 31, 87);
  color: rgb(8, 107, 51);
}

.collapse-content{
  grid-area: coll-cont;
  color: rgb(18, 160, 255);
  font: 13px;
  letter-spacing: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  overflow: hidden;
  background-color: rgb(230, 211, 162);
  transition: all 1s linear;
  -webkit-box-shadow: inset 10px 10px 37px -11px rgba(0,0,0,0.69);
  -moz-box-shadow: inset 10px 10px 37px -11px rgba(0,0,0,0.69);
  box-shadow: inset 10px 10px 37px -11px rgba(0,0,0,0.69);
}

/* @media screen and (min-width: 500px){

} */

@media screen and (min-width: 768px){
  .grid{
    display: grid;
    grid-template-columns: 1fr 9fr 9fr 1fr;
    grid-template-areas:

    '. . nav .'
    '. banner banner .'
    '. banner banner .'
    'top top top top'
    'coll coll coll coll'
    'coll coll coll coll'
    'coll coll coll coll'
    'about about about about'
    'about about about about';
  }
  .banner{
    grid-area: banner;
    height:96vh;
    border: .3px solid rgba(155, 222, 237, .3);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
    'intro intro intro intro'
    'rose rose rose rose'
    'job job job job';
  }
  .glitch >img:nth-child(2){
    left: 10px;
  }
  .intro::before,
  .job::before{
    left: 4px;
  }
  .nav{
    background-color: transparent !important;
  }
  a{
    text-align: right;
  }
}

.top{
  padding-top: calc(1vh / .3);
  grid-area: top;
}

.center_it{
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.intro{
  grid-area: intro;
}

.job{
  grid-area:job;
}

.intro,
.job{
  position:relative;
  text-align: center;
  color: rgba(138, 10, 31, 1);
  /* text-shadow: 2px 0px 5px gray; */
  font-size:30px;
  font-weight: bold;
  letter-spacing: calc(1vw / .3);
  transition: all .3s ease-out;
  cursor:pointer;
}

.intro:hover,
.job:hover{
  font-size: 40px;
}

.about{
  grid-area: about;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ''
  ;
  font-size: 25px;
  text-align: center;
  background: gray;
  padding-top: 20px;
  margin-bottom: -25px;
}

.nav{
  grid-area: nav;
  text-align: right;
  transition: all .5s ease-out;
  background-color: gray;
  padding-top: 5px;
}

a{
  position: relative;
  text-decoration: none;
  color: red;
  text-shadow: 2px 0px 4px rgba(120, 120, 120, 1);
  letter-spacing: 8px;
  font: 20px/0px Arial, Verdana;
  transition: all .4s ease-out;
  padding-top:5px;
}

.nav >a:nth-child(2){
  align: right;
  }

.nav >a:nth-child(1){
  padding-right:10px;
}

a:hover{
  color: white;
  text-decoration:line-through;
}
